<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Гранит 
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/fonts.css")        
        link(rel="stylesheet", href="css/style.css")
        
        
    body
        header             
            .container  
                .header-inner          
                    .header-top
                        img.header-logo(src="img/header-logo.png", alt="logo")
                        .header-contacts
                            .header-phones   
                                p.phone-number 8 800 342-13-33
                                p.phone-text Бесплатный звонок по России
                            .header-btn
                                a(href="#").header-btn__call Обратный звонок
                    .header-nav
                        ul.header-nav__list
                            li.header-nav__item 
                                a.header-nav__link(href="#") Главная
                            li.header-nav__item 
                                a.header-nav__link(href="#") Каталог
                            li.header-nav__item 
                                a.header-nav__link(href="#") Услуги
                            li.header-nav__item 
                                a.header-nav__link(href="#") Доставка
                            li.header-nav__item 
                                a.header-nav__link(href="#") О компании
                            li.header-nav__item 
                                a.header-nav__link(href="#") Контакты
        main
            section.main-top
                .container
                    .main-top__inner
                        h1.main-top__title быстрая Доставка  
                        p.main-top__text бетона, щебня, песка и других нерудных материалов по Москве и Московской области
                        .main-top__btn
                            a.delivery-btn(href="#") Подробнее о доставке 
                            span или 
                            a.catalogue-btn(href="#") перейти в каталог  
            section.always-instock
                .container
                    .always-instock__inner
                        h2.instock__title Всегда в наличии 
                        ul.always-instock__list
                            li.always-instock__item
                                img.always-instock-list__icon(src="img/sand.png", alt="")
                                p.always-instock-list__title Песок речной
                                p.always-instock-list__text Мелкий речной песок повышает прочность, долговечность и морозоустойчивость растворов, в состав которых он входит. 
                                p.always-instock__price от 330 р./т
                                a.always-instock__btn(href="#") Подробнее
                            li.always-instock__item
                                img.always-instock-list__icon(src="img/sheben.png", alt="")
                                p.always-instock-list__title Щебень
                                p.always-instock-list__text Мелкий речной песок повышает прочность, долговечность и морозоустойчивость растворов, в состав которых он входит. 
                                p.always-instock__price от 330 р./т
                                a.always-instock__btn(href="#") Подробнее
                            li.always-instock__item
                                img.always-instock-list__icon(src="img/soil.png", alt="")
                                p.always-instock-list__title Грунт 
                                p.always-instock-list__text Мелкий речной песок повышает прочность, долговечность и морозоустойчивость растворов, в состав которых он входит. 
                                p.always-instock__price от 330 р./т
                                a.always-instock__btn(href="#") Подробнее
            section.advantages
                .container
                    .advantages-inner
                        h2.advantages-title Наши преимущества
                        ul.advantages-list
                            li.advantages-list__item
                                img.advantages-list__icon(src="img/piggy-bank.png", alt="")
                                p.advantages-list__title Низкая цена
                                p.advantages-list__text Мы сотрудничаем напрямую <br> с производителем, поэтому можем гарантировать самую низкую цену.
                            li.advantages-list__item
                                img.advantages-list__icon(src="img/van.png", alt="")
                                p.advantages-list__title Быстрая доставка
                                p.advantages-list__text Весь товар уже находится на нашем складе. Нам остается только погрузить его и в путь!
                            li.advantages-list__item
                                img.advantages-list__icon(src="img/wheelbarrow.png", alt="")
                                p.advantages-list__title Индивидуальный подход
                                p.advantages-list__text Вам нужны бесперебойные поставки или большая партия товара со скидкой? <br>Мы найдем решение! 
                        
            section.popular-products
                .container
                    .popular-products__inner
                        h2.popular-products__title Популярные товары
                        ul.popular-products__list
                            li.popular-products__item
                                img.popular-products-list__icon(src="img/popular-1.png", alt="")
                                p.popular-products__name Гранитный щебень 5-20 мм
                                p.popular-products__price.red-price <span class="grey-text">1 500 р./т</span> <span class="red-text">1 350 р./т</span> 
                                a.popular-products__btn(href="#") Купить 
                            li.popular-products__item
                                img.popular-products-list__icon(src="img/popular-2.png", alt="")
                                p.popular-products__name Гранитный щебень 5-20 мм
                                p.popular-products__price.red-price <span class="grey-text">1 500 р./т</span> <span class="red-text">1 350 р./т</span>
                                a.popular-products__btn(href="#") Купить
                            li.popular-products__item
                                img.popular-products-list__icon(src="img/popular-3.png", alt="")
                                p.popular-products__name Гранитный щебень 5-20 мм
                                p.popular-products__price 1 350 р./т 
                                a.popular-products__btn(href="#") Купить
                            li.popular-products__item
                                img.popular-products-list__icon(src="img/popular-4.png", alt="")
                                p.popular-products__name Гранитный щебень 5-20 мм
                                p.popular-products__price 1 350 р./т 
                                a.popular-products__btn(href="#") Купить
            section.services     
                .container  
                    .services__inner 
                        h2.services__title Наши услуги   
                        ul.services-list
                            li.services-list__item
                                img.services-list__icon(src="img/services-1.png", alt="")
                                a.services-list__title(href="#") Аренда самосвала                                
                            li.services-list__item
                                img.services-list__icon(src="img/services-2.png", alt="")
                                a.services-list__title(href="#") Аренда спецтехники                               
                            li.services-list__item
                                img.services-list__icon(src="img/services-3.png", alt="")
                                a.services-list__title(href="#") Рытье траншеи  
            section.contacts
                .container
                    .contacts__inner 
                        img.contacts-location__icon(src="img/location-yellow-icon.png", alt="")
                        .contacts__content     
                            h2.contacts__title Контакты
                            p.contacts__phone.contacts__phone-1 8 800 034-23-34     
                            p.contacts__phone 8 495 034-23-34 
                            p.address Московская обл. г. Балашиха,  пер. Столовой, д.23, кор. 34
                            p.email Info@stroika.ru          
            footer.footer
                .container
                    .footer__inner
                        .footer__left
                            img.footer__logo(src="img/footer-logo.png", alt="")
                            p.footer__copy © 2016. Грантит
                        .footer__right
                            p.footer__phone 8 800 342-13-33
                            p.footer__text Бесплатный звонок по России
                            a.footer__btn(href="") Обратный звонок
            